.introHeading {
    font-family: 'Montserrat';
    font-size: 6rem;
    letter-spacing: .5rem;
    text-align: center;
    margin-top: 1rem;
}

.stretchHeading {
    font-family: 'Montserrat';
    font-size: 6rem;
    letter-spacing: .5rem;
    text-align: center;
    margin-top: 1rem;
}

.stretchPara {
    text-indent: 30px;
}