.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.introHeading {
    font-family: 'Montserrat';
    font-size: 6rem;
    letter-spacing: .5rem;
    text-align: center;
    margin-top: 1rem;
}

.stretchIntro {
    display: flex;
    margin-top: 1rem;
}

.stretchHeading {
    font-family: 'Montserrat';
    font-size: 6rem;
    letter-spacing: .5rem;
    text-align: center;
    margin-top: 1rem;
    border-bottom: solid 10px #7b38d8;

}

.stretchPara {
    padding-right: 1rem;
    font-size: 1.3rem;
    text-indent: 30px;
    padding: 1rem;
}

.stretchType {
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: solid 10px #7b38d8;
}

.example {
    display: flex;
    justify-content: space-between;

}

.stretchName {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    border-bottom: solid 10px #14288c;
    padding: 20px;
    margin: 2rem;
}

.authorsParagraph {
    padding-right: 1rem;
    font-size: 1.3rem;
    text-indent: 30px;
    padding-bottom: 1rem;
}

.authorsAdvice {
    text-align: center;
    border-bottom: solid 10px #d5192f;
}

.cardioHeading {
    font-family: 'Montserrat';
    font-size: 6rem;
    letter-spacing: .5rem;
    text-align: center;
    margin-top: 1rem;
    border-bottom: solid 10px #7b38d8;
}

.btn-right {
    display: inline-block;
    background-color: #7b38d8;
    float: right;
    padding: 20px;
    width: 200px;
    color: #ffffff;
    text-align: center;
    border: 4px double #cccccc;
    border-radius: 10px;
    font-size: 28px;
    cursor: pointer;
    margin: 5px;
    -webkit-transition: all 0.5s;
    /* add this line, chrome, safari, etc */
    -moz-transition: all 0.5s;
    /* add this line, firefox */
    -o-transition: all 0.5s;
    /* add this line, opera */
    transition: all 0.5s;
    /* add this line */
}

.btn-right:hover {
    background-color: green;
}

.btn-left {
    display: inline-block;
    background-color: #7b38d8;
    float: left;
    padding: 20px;
    width: 200px;
    color: #ffffff;
    text-align: center;
    border: 4px double #cccccc;
    border-radius: 10px;
    font-size: 28px;
    cursor: pointer;
    margin: 5px;
    -webkit-transition: all 0.5s;
    /* add this line, chrome, safari, etc */
    -moz-transition: all 0.5s;
    /* add this line, firefox */
    -o-transition: all 0.5s;
    /* add this line, opera */
    transition: all 0.5s;
    /* add this line */
}

.btn-left:hover {
    background-color: green;
}

.cardioArticle {
    font-family: 'Montserrat';
    font-size: 1.5rem;
}

.lowIntensity {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(61, 213, 147);
}

.sliderOne {
    padding-top: 1rem;
    padding-right: 1rem;
    width: 400px;
}

.typeOne {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    border-bottom: solid 10px #d51ccb;
    padding: 20px;
    margin: 2rem;
}


.lowIntensityList {
    margin-top: 1rem;
    float: left;
    color: rgba(255, 255, 255, 0.904);
}

.dashed {
    list-style-type: none;
    position: relative;
    padding-left: 1.0em;
}

.dashed:before {
    content: "- ";
    position: absolute;
    left: 0;
}

.typeTwo {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    border-bottom: solid 10px #d51ccb;
    padding: 20px;
    margin: 2rem;
}

.sliderTwo {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 400px;
}

.highIntensity {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(61, 213, 147);
}

.highIntensityList {
    margin-top: 1rem;
    float: right;
}

.cardioParagraph {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    cursor: pointer;
}

.dashed a {
    color: white;
    text-decoration: none;
}

.dashed {
    color: white;
}

.dashed a:hover {
    color: red;
}

.cardioVideos {
    display: flex;
    justify-content: space-between;
}

.strengthContainer {
    width: 90%;
    font-size: 1.5rem;
    margin: auto;
    overflow: hidden;
}

.strengthHeading {
    font-family: 'Montserrat';
    font-size: 6rem;
    letter-spacing: .5rem;
    text-align: center;
    margin-top: 1rem;
    border-bottom: solid 10px #7b38d8;
}

.dummbellPressPic {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.dummbellPressPic img {
    border-radius: 10% / 50%;
}

.firstStrengthP {
    margin-top: 2rem;
}

.typesOfStrength {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    border-bottom: solid 10px #311cd5;
    padding: 20px;
    margin: 2rem;
}

.startForBegin {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    border-bottom: solid 10px #311cd5;
    padding: 20px;
    margin: 2rem;
}

.beginnerBody {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.beginnerBody div {
    font-size: 2rem;
    width: 400px;
    height: 400px;
}

.beginnerBody a {
    color: black;
    text-decoration: none;
}

.beginnerBody a:hover {
    color: blue;
}

.circuitExamples {
    display: flex;
    justify-content: space-between;
}

.circuitExamples a {
    color: white;
    text-decoration: none;
}

.circuitExamples a:hover {
    color: rgb(159, 159, 230);
}

.circuitEx1 {
    background-color: #5b5c63;
    color: white;
}

.circuitEx2 {
    background-color: #414349;
    color: white;
}

.circuitEx3 {
    background-color: #655b5b;
    color: white;
}

.circuitEx4 {
    background-color: #db2424;
    color: white;
}

.circuitEx5 {
    background-color: #9b2828;
    color: white;
}

.circuitEx6 {
    background-color: #db2424;
    color: white;
}

.advantages {
    display: inline-flex;
}

.healthyContainer {
    width: 90%;
    margin: auto;
    overflow: hidden;
    font-family: 'Montserrat';
    font-size: 1.5rem;
}

.healthyHeading {
    font-family: 'Montserrat';
    font-size: 6rem;
    letter-spacing: .5rem;
    text-align: center;
    margin-top: 1rem;
    border-bottom: solid 10px #7b38d8;
}

.fridgeContainer {
    width: 90%;
    margin: auto;
}

.background {
    background-color: lightblue;
    background-size: 1rem;
}

.InsideFridge {
    width: 400px;
    height: 500px;
    background: white;
    border: solid black 4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.firstRung {
    width: 24.5rem;
    height: 10px;
    background-color: gray;
    border: solid black 4px;
}

.milk {
    width: 50px;
    height: 100px;
    color: blue;
    border: solid black 3px;
}

.orange {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: orange;
    position: relative;
}

.bowl {
    width: 80px;
    height: 50px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    background: rgb(172, 163, 147);
}

.spoon {
    width: 38px;
    height: 7px;
    background-color: silver;
    margin-left: 4rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: rotate(-0.15turn)
}

.cereal {
    width: 70px;
    height: 15px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    background: rgb(192, 71, 71);
}

.carrot {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid orange;
    border-radius: 10px;
    transform: rotate(-0.35turn)
}

.firstRungFoods {
    display: inline-flex;
    justify-content: space-between;

}

.openFridge {
    width: 400px;
    height: 500px;
    background: white;
    border: solid black 4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fridge {
    width: 400px;
    height: 500px;
    background: white;
    margin: auto;
    border: solid black 4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transform: rotateY(0deg);
    transition: transform 0.5s;
}


.fridge.open {
    transform: rotateY(-120deg);
}

.handle {
    width: .5rem;
    height: 10rem;
    background-color: rgb(90, 87, 87);
    margin-top: 8rem;
    margin-left: 2rem;
    cursor: pointer;
}

.fridge p {
    text-align: center;
    font-size: 40px;
    text-decoration: underline 4px;
    letter-spacing: 3px;
    font-style: italic;
    margin-top: 4rem;
}

.floor {
    width: 100%;
    height: 5px;
    margin: auto;
    background: brown;
}